{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="container">
    <div class="row login-box">
        <div class="col-md-6 mx-auto pt-5">
            <div class="top-heading mb-3">
                <h3 class="header-title">Connexion</h3>
                <small class=""><em>Comptent de vous revoire !</em></small>
            </div>

            <!--div class="google-sign mb-4">
                <button class="google-btn"><img src="/build/images/icons/google.png" class="google-btn-img" alt="logo_google" /> Connectez-vous avec Google</button>
                <div class="d-flex mt-4">
                <hr class="my-auto flex-grow-1">
                <div class="px-4 mute-text">Ou connectez-vous avec e-mail</div>
                <hr class="my-auto flex-grow-1">
                </div>
            </div-->

            <form class="login-form" method="post">
                {% for label, messages in app.flashes %}
                <div class="container p-0">
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            <p class="mb-0">{{ message|raw }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% if error %}
                <div class="alert alert-danger my-4">Une erreur est survenue, l'identifiant ou le mot de passe est invalide</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control input" placeholder="Email" autocomplete="email" required autofocus>
                </div>

                <div class="form-group">
                    <div class="form-group-append form-control">
                        <input type="password" name="password" id="password" class="me-2" autocomplete="current-password" placeholder="Mot de passe" required>
                        <span class="form-group-text" onclick="password_show_hide();">
                            <i class="fas fa-eye" id="show_eye"></i>
                            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                        </span>
                    </div>
                </div>

                <div class="form-group checkbox mb-4">
                    <input type="checkbox" name="_remember_me">
                    <span class="px-1 font-size">Souviens toi de moi</span> <a href="{{ path('forgotten_password') }}" class="forgot-password">Mot de passe oublié?</a> 
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary text-white login-btn w-50">
                </div>
                <hr>
                <div class="form-group">
                    <div class="py-3">Pas encore inscrit? <a href="{{ path('app_registration') }}">Créer un compte</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function password_show_hide() {
    var x = document.getElementById("password");
    var show_eye = document.getElementById("show_eye");
    var hide_eye = document.getElementById("hide_eye");
    hide_eye.classList.remove("d-none");
    if (x.type === "password") {
        x.type = "text";
        show_eye.style.display = "none";
        hide_eye.style.display = "block";
    } else {
        x.type = "password";
        show_eye.style.display = "block";
        hide_eye.style.display = "none";
    }
}
</script>
{% endblock %}

