{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe !{% endblock %}

{% block body %}
<main class="flex-shrink-0 mb-5">
    <!-- Header-->
    <header class="bg-dark">
        <div class="pb-5">
        <div class="text-center">
            <h1 class="fw-bolder text-white m-0">Modification du mot de pass</h1>
        </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 m-auto">
                {{ form_start(form) }}
                <div class="login-form">
                    <div class="form-group">
                        <div class="form-group-append form-control">
                            {{form_widget(form.oldpassword)}}
                        </div>
                        <span class="error">{{form_errors(form.oldpassword)}}</span>
                    </div>

                    <div class="form-group">
                        <div class="form-group-append form-control">
                            {{form_widget(form.newpassword)}}
                            <span class="form-group-text" onclick="password_show_hide();">
                                <i class="fas fa-eye" id="show_eye"></i>
                                <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                            </span>
                        </div>
                        <span class="error" id="newpassword_err"> {{form_errors(form.newpassword)}}</span>
                    </div>

                    <div class="form-group">
                        <div class="form-group-append form-control">
                            {{form_widget(form.passwordConfirm)}}
                        </div>
                        <span class="error" id="passwordConfirm_err"> {{form_errors(form.passwordConfirm)}}</span>
                    </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary text-white login-btn w-50">
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('build/scripts/password_update.js') }}"></script>
<script>
    function password_show_hide() {
        var x = document.getElementById("password_update_newpassword");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
            x.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
        } else {
            x.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
        }
    }
</script>
{% endblock %}


